<h1>Jobcoin Mixer</h1>

<p>
  Our service deducts a <%= MixRequest::SERVICE_FEE_IN_PCT * 100 %>% fee.
</p>
<form method="POST" action="/">
  <p>
    <input type='text' name='addresses[]' />
  </p>
  <p>
    <input type='text' name='addresses[]' />
  </p>
  <p>
    <input type='text' name='addresses[]' />
  </p>
  <p>
    <input type='text' name='addresses[]' />
  </p>
  <p>
    <input type='text' name='addresses[]' />
  </p>
  <p>
    <input type='submit' />
  </p>
</form>
<p>
  After submitting you will be provided with an address to transfer your Jobcoin to.
</p>
